[submodule "submodules/cpptoml"]
	path = submodules/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "submodules/toml11"]
	path = submodules/toml11
	url = git@github.com:ToruNiina/toml11.git
